<?php
/** @var $itemsCount */

use BeeJee\App\Controller\Decorator\IndexUrl;

/** @var $perPage */
/** @var $currentPage */
/** @var $itemsCount */
/** @var $sort */

$prevLink = null;
$nextLink = null;
$pagesCount = !$itemsCount ? 1 : ceil($itemsCount / $perPage);

$queryParams = [];
if ($sort) {
    $queryParams['sort'] = $sort;
}
if ($currentPage > 1) {
    $prevPage = $currentPage - 1;
    if ($perPage > 1) {
        $queryParams['page'] = $prevPage;
    }
    $prevLink = (string)new IndexUrl($queryParams);
}

if ($currentPage < $pagesCount) {
    $nextPage = $currentPage + 1;
    $queryParams['page'] = $nextPage;
    $nextLink = (string)new IndexUrl($queryParams);
}
?>
<nav>
    <ul class="pager">
        <?php if ($prevLink): ?>
            <li><a href="<?= $prevLink ?>">Назад</a></li>
        <?php endif; ?>
        <?php if ($nextLink): ?>
            <li><a href="<?= $nextLink ?>">Вперед</a></li>
        <?php endif; ?>
    </ul>
</nav>