<?php
/** @var $criteria GetAllCriteria */

use BeeJee\App\Controller\Decorator\IndexUrl;
use BeeJee\App\Repository\Task\GetAllCriteria;

?>
<ul class="nav nav-pills">
    <li role="presentation"
        class="<?= $criteria->getSort() ? '' : 'active' ?>">
        <a href="<?= new IndexUrl() ?>">
            Сперва новые
        </a>
    </li>
    <li role="presentation"
        class="<?= $criteria->getSort() == GetAllCriteria::SORT_STATUS_DESC ? 'active' : '' ?>">
        <a href="<?= new IndexUrl(['sort' => GetAllCriteria::SORT_STATUS_DESC]) ?>">
            По статусу
        </a>
    </li>
    <li role="presentation"
        class="<?= $criteria->getSort() == GetAllCriteria::SORT_EMAIL_DESC ? 'active' : '' ?>">
        <a href="<?= new IndexUrl(['sort' => GetAllCriteria::SORT_EMAIL_DESC]) ?>">
            По почте
        </a>
    </li>
    <li role="presentation"
        class="<?= $criteria->getSort() == GetAllCriteria::SORT_USERNAME_DESC ? 'active' : '' ?>">
        <a href="<?= new IndexUrl(['sort' => GetAllCriteria::SORT_USERNAME_DESC]) ?>">
            По имени
        </a>
    </li>
</ul>