<div class="thumbnail js-task">
    <img src="<?= $image ?>"
         class="img-responsive js-task-image img-responsive"
         alt="task image">
    <div class="caption">
        <p>
            <span class="js-task-text">
                <?= $this->encode(nl2br($text)) ?>
            </span>
        </p>
        <p>
            <span>Пользователь:</span>
            <span class="js-task-username-text"><?= $this->encode($username) ?></span>
        </p>
        <p>
            <span>Почта:</span>
            <span class="js-task-email-text"><?= $this->encode($email) ?></span>
        </p>
        <p>
            <strong>Статус:</strong>
            <span class="js-task-status-text"><?= $this->encode($statusText) ?></span>
        </p>
    </div>
</div>