<div class="modal fade"
     id="kl-js-task-edit-modal-<?= $this->encode($id) ?>"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog" role="document">
        <form method="post"
              action="<?= $formAction ?>">
            <input type="hidden" name="id" value="<?= $this->encode($id) ?>">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Редактирование Задачи</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="js-task-form-text">Текст задачи</label>
                        <textarea class="form-control task-form-text-input"
                                  maxlength="2000"
                                  required
                                  placeholder="Текст задачи.."
                                  name="text"><?= $this->encode($text) ?></textarea>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   name="status"
                                <?= $isComplete ? 'checked' : '' ?>
                                   value="<?= $this->encode($completeStatusId) ?>"> Отметить как выполненная
                        </label>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
</div>