<?php

use BeeJee\App\Controller\Decorator\AddTaskUrl;

$this->setLayout('layouts/index');
?>

<h1>Новая задача</h1>

<?php if ($taskError): ?>
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
        Ошибка добавление задачи. Повторите попытку позже.
    </div>
<?php endif; ?>

<div class="row">
    <div class="col-lg-4 col-sm-6">
        <form class="task-form"
              method="post"
              enctype="multipart/form-data"
              action="<?= new AddTaskUrl() ?>"
              id="js-task-form">
            <div id="js-task-form-preview" style="display: none">
                <?= $this->partial('partials/task', [
                    'username' => '',
                    'email' => '',
                    'text' => '',
                    'image' => '',
                    'statusText' => '',
                ]) ?>
                <button class="btn btn-link btn-block" id="js-task-form-close-preview-btn">Закрыть</button>
            </div>
            <div id="js-task-form-body">
                <div class="form-group">
                    <label for="js-task-form-username">Имя пользователя</label>
                    <input type="text"
                           class="form-control task-form-name-input"
                           id="js-task-form-username"
                           required
                           minlength="2"
                           maxlength="100"
                           placeholder="Имя пользователя"
                           name="username">
                </div>

                <div class="form-group">
                    <label for="js-task-form-email">Email</label>
                    <input type="email"
                           class="form-control task-form-email-input"
                           id="js-task-form-email"
                           maxlength="1000"
                           placeholder="Email"
                           name="email">
                </div>

                <div class="form-group">
                    <label for="js-task-form-text">Текст задачи</label>
                    <textarea class="form-control task-form-text-input"
                              id="js-task-form-text"
                              maxlength="2000"
                              required
                              placeholder="Текст задачи.."
                              name="text"></textarea>
                </div>

                <div class="form-group">
                    <label for="js-task-form-image">Картинка</label>
                    <input type="file"
                           id="js-task-form-image"
                           required
                           accept="image/x-png,image/gif,image/jpeg"
                           name="image">
                    <p class="help-block">формат JPG/GIF/PNG, не более 320х240 пикселей</p>
                </div>

                <div class="clearfix">
                    <div class="pull-left">
                        <button type="submit"
                                id="js-task-form-submit-btn"
                                class="btn btn-success task-form-submit-btn">Добавить
                        </button>
                    </div>
                    <div class="pull-right">
                        <button type="button"
                                id="js-task-form-preview-btn"
                                class="btn btn-link">
                            <span class="hidden-xs">Предварительный просмотр</span>
                            <span class="visible-xs">Предпросмотр</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>