<?php

use BeeJee\App\Controller\Decorator\EditTaskUrl;
use BeeJee\App\Model\Task\Task;
use BeeJee\App\Model\Task\TaskImageUrlDecorator;
use BeeJee\App\Model\Task\TaskStatusTextDecorator;
use BeeJee\App\Repository\Task\GetAllCriteria;

$this->setLayout('layouts/index');

/** @var $tasks Task[] */
/** @var $taskAdded bool */
/** @var $criteria GetAllCriteria */
/** @var $tasksCount int */

$showPager = $tasksCount > $criteria->getPerPage();
?>
<h1>
    <span>Задачи</span>
    <small><?= $criteria->getPage() > 1 ? sprintf('стр. %s', (int)$criteria->getPage()) : '' ?></small>
</h1>

<?php if ($isAdmin): ?>
    <h3 class="text-muted">Вы вошли как Администратор</h3>
<?php endif; ?>

<?php if ($taskAdded): ?>
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
        Задача успешно добавлена
    </div>
<?php endif; ?>
<?php if ($taskEditError): ?>
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
        Произошла ошибка при редактироваии задачи
    </div>
<?php endif; ?>
<?php if ($taskEditSuccess): ?>
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
        Задача успешно отредактирована
    </div>
<?php endif; ?>

<?= $this->partial('partials/sort', [
    'criteria' => $criteria,
]) ?>

<div class="row">
    <?php foreach ($tasks as $task): ?>
        <div class="col-sm-6 col-md-4">
            <?= $this->partial('partials/task', [
                'username' => $task->getUserName(),
                'email' => $task->getEmail(),
                'text' => $task->getText(),
                'image' => (string)new TaskImageUrlDecorator($task),
                'statusText' => (string)new TaskStatusTextDecorator($task),
            ]) ?>

            <?php if ($isAdmin): ?>
                <?= $this->partial('partials/task-edit-modal', [
                    'text' => $task->getText(),
                    'id' => $task->getId(),
                    'completeStatusId' => Task::STATUS_COMPLETE,
                    'isComplete' => $task->isComplete(),
                    'formAction' => (string)new EditTaskUrl(),
                ]) ?>
                <button type="button"
                        class="btn btn-primary btn-sm"
                        data-toggle="modal"
                        data-target="#kl-js-task-edit-modal-<?= $this->encode($task->getId()) ?>">
                    Редактировать
                </button>
            <?php endif; ?>
        </div>
    <?php endforeach; ?>
</div>

<?php if ($showPager): ?>
    <?= $this->partial('partials/pager', [
        'perPage' => $criteria->getPerPage(),
        'sort' => $criteria->getSort(),
        'itemsCount' => $tasksCount,
        'currentPage' => $criteria->getPage(),
    ]) ?>
<?php endif; ?>
